/*------------------------------------*\
    RESPONSIVE.SCSS
\*------------------------------------*/
/**
 * This is where the responsive layouts go.
 */

.grid {
	max-width: 960px;
	margin: 0 auto;
	@media (min-width: 768px) and (max-width: 979px) {
		max-width: 700px;
	}
	@media (max-width: 768px) {
		margin: 0 5%;
	}
}

