/*------------------------------------*\
    RESPONSIVE.SCSS
\*------------------------------------*/
/**
 * This is where the responsive layouts go.
 */

.grid {
	max-width: 960px;
	margin: 0 auto;
}

@media (min-width: 700px) {
	.grid {
	padding: 0 20px
}
}

