/*------------------------------------*\
    THEME.SCSS
\*------------------------------------*/
/**
 * This is where any sort of theme related SCSS goes.
 */

.background {
	background: url(../media/background-piggy-back.jpg) right -70px no-repeat;
	position: fixed;
  	width: 100%;
	height: 300%;
	top: 0;
	left: 0;
	z-index: -1;
	  @include media-query(palm) {
		background: url(../media/background-piggy-back-palm.jpg) right top no-repeat;
		}

}

 .brand-logo {
 	background: rgba(255,255,255, 0.8);
 	@include border-radius(50%);
	height: 350px;
	width: 350px;
	margin: 4rem auto 0;
	text-align: center;
	@include media-query(palm) {
		margin: 1rem auto 0;
		height: 160px;
		width: 160px;
		}

	img {
		width: 175px;
		margin: 40px auto;
		@include media-query(palm) {
			width: 80px;
			margin: 20px auto;
		}
	}
 }

 .main-container,
 .nav-top-wrapper {
 	background: #fff;
 	padding: 1.5rem 1.5rem 0 1.5rem;
 }

 .main-container {
 	border: 1px solid $lightgrey;
 }

 .nav-top-wrapper {
 	border-top: 1px solid $lightgrey;
 	border-left: 1px solid $lightgrey;
 	border-right: 1px solid $lightgrey;
 	padding: 0;
 	margin: 5rem 0 0 0;
 	@include media-query(palm) {
 		margin: 2rem 0 0 0;
 	}
 }

.nav-effect {
	margin: 0 0 6px;
	@include media-query(palm) {
		height: 0;
		margin: 0;
		-webkit-transition: height 500ms;
		  -o-transition: height 500ms;
		  transition: height 500ms;
	}
}

.nav-effect.active {
	@include media-query(palm) {
		height: 300px;
		-webkit-transition: height 500ms;
		-moz-transition: height 500ms;
		-ms-transition: height 500ms;
		-o-transition: height 500ms;
		transition: height 500ms;
	}
}

.nav-effect a {
	margin: 0 10px;
	padding: 12px 14px 0;
	width: 16%;
	display: inline-block;
	font-family: 'Amatic SC', cursive;
	font-size: 1.7em;
	text-decoration: none;
	white-space: nowrap;
	text-align: center;
	@include media-query (palm) {
		font-size: 1.5em;
		line-height: 1.5em;
		margin: 6px 28px 6px 0;
		padding: 2px 0;
		display: block;
		width: inherit;
		background: $purple;
		color: white;
	}
}

.nav-effect a:hover {
	-webkit-box-shadow: inset 0 6px 0 $purple;
	-moz-box-shadow: inset 0 6px 0 $purple;
	box-shadow: inset 0 6px 0 $purple;
	-webkit-transition: box-shadow 0.3s, height 0.3s;
	-moz-transition: box-shadow 0.3s, height 0.3s;
	transition: box-shadow 0.3s, height 0.3s;
}

.nav-effect a::before,
.nav-effect a::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	content: '';
	opacity: 0.2;
	-webkit-transition: opacity 0.3s, height 0.3s;
	-moz-transition: opacity 0.3s, height 0.3s;
	transition: opacity 0.3s, height 0.3s;
}

.nav-effect a::after {
	top: 100%;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.nav-effect a span:first-child {
	z-index: 2;
	display: block;
	font-weight: 300;
	margin: 10px 0 -10px 0;
	@include media-query (palm) {
		margin: inherit;
	}
}

.nav-effect a span:last-child {
	z-index: 1;
	display: block;
	padding: 8px 0 0 0;
	text-shadow: none;
	text-transform: none;
	font-size: 0.45em;
	font-family: $base-font-family;
	color: $darkblue;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

.nav-effect a:hover::before,
.nav-effect a:focus::before {
	height: 6px;
}



.nav-effect a:hover span:last-child,
.nav-effect a:focus span:last-child {
	opacity: 1;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
}
figure {
  margin:0;
  color:white;
}

.story-element {
  position: relative;
  float: left;
  overflow: hidden;
  background:#ccc;
  @include media-query(portable) {
  	float:none;
  	overflow: inherit;
  }
}

.story-element img {
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

.story-element figcaption {
  position: absolute;
  margin: auto;
  top:0; right:0; left:0; bottom:0;
  height: 75%;
  width: 80%;
  background: rgba(112,108,135, 0.8);
  -webkit-transition: 750ms;
  -o-transition: 750ms;
  transition: 750ms;  
  @include media-query(portable) {
  	position: relative;
  	display: block;
	background: rgba(112,108,135, 1);
	width: 100%;
	-webkit-transition: none;
	-o-transition: none;
	transition: none; 
	height: inherit;
  }
}

.story-element[data-effeckt-type~="story-element"] figcaption {
  top: 0;
  left: 0;
  text-align: center;
  padding: 20px;
  -webkit-transform: translateX(120%);
  -ms-transform: translateX(120%);
  -o-transform: translateX(120%);
  transform: translateX(120%);
  @include media-query(portable) {
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
  }
}

.story-element[data-effeckt-type~="story-element"] img {
  display: block;
  position: relative;
}


.story-element[data-effeckt-type~="story-element"]:hover figcaption,
.story-element[data-effeckt-type~="story-element"]:active figcaption {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.hidden-content {
  max-width:100px;
}

.story-element h1,
.story-element h2,
.story-element h3,
.story-element h4,
.story-element h5,
.story-element h6 {
	margin: 0;
}

.visible-content {
  position: absolute;
  top: 0;
  left:0;
  padding: 20px;
  margin: 20px 0 20px 20px;
  background: rgba(112,108,135, 0.8);
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  @include media-query(palm) {
	padding: 10px;
  	margin: 4px;
  	h4 {
  		font-size: 16px;
  	}
  	small {
  		font-size: 12px;
  	}
  }

}

.story-element[data-effeckt-type~="story-element"]:hover .visible-content,
.story-element[data-effeckt-type~="story-element"]:active .visible-content {
	-webkit-transform: translateX(-120%);
  -ms-transform: translateX(-120%);
  -o-transform: translateX(-120%);
  transform: translateX(-120%);
  @include media-query(portable) {
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
  }
}

.slideIn {
  width: 100%;
  clear: both;
  padding: 2em 0;
  position: relative;
  min-height: 20em;
  @include media-query(portable) {
	min-height: 28em;
  }
  @include media-query(palm) {
	min-height: 26em;
  }
}

.slideIn-container {
  width: 100%;
  margin: 0;
  position: absolute;
  opacity: 1;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.one-third {
	left: 0;
}
.two-third {
  left:0;
}
.three-third {
	left: 66%;
}
.offscreen {
	opacity: 0;
}
.one-third.offscreen {
	left: -50%;
}
.two-third.offscreen {
	left: 50%;
}
.three-third.offscreen {
	left: 133%;
}
