/*------------------------------------*\
    THEME.SCSS
\*------------------------------------*/
/**
 * This is where any sort of theme related SCSS goes.
 */
body {
	@include media-query(palm) {
		background: url(../media/background-piggy-back-palm.jpg) right top no-repeat;
		position: static;
		}
}

.background {
	background: url(../media/background-piggy-back.jpg) right -70px no-repeat;
	position: fixed;
  	width: 100%;
	height: 300%;
	top: 0;
	left: 0;
	z-index: -1;
	@include media-query(portable) {
		background: url(../media/background-piggy-back.jpg) right -140px no-repeat;
	}
	  @include media-query(palm) {
		background: url(../media/background-piggy-back-palm.jpg) right top no-repeat;
		position: static;
		}

}

 .brand-logo {
	margin: 1rem auto 0;
	text-align: center;
	

	@include media-query(portable) {
		margin: 0.5rem auto 0;
	}
	@include media-query(palm) {
		margin: 1rem auto 0;
		}

	img {
		background: rgba(255,255,255, 0.8);
		@include border-radius(50%);
	 	padding: $base-spacing-unit*1.5;
		margin: 40px auto;
		@include media-query(portable) {
			width: 275px;
		}
		@include media-query(palm) {
			padding: $base-spacing-unit;
			width: 200px;
			margin:10px auto;
		}
	}
 }

 .icon-rounded {
 	-webkit-border-radius: 50%;
 	-moz-border-radius: 50%;
 	border-radius: 50%;
 	background: lighten($brand-color, 25%);
 	color: $brand-color;
 	padding: 10px 16px;
 	font-size: 32px;
 	line-height: 32px;
 }

 .borders-top-bottom {
 	border-top: 1px solid $lightgrey;
 	border-bottom: 1px solid $lightgrey;
 }

 .main-container,
 .nav-top-wrapper {
 	background: #fff;
 	padding: 1.5rem;
 	@include media-query(palm) {
 		padding: 0.75rem 0.75rem 0 0.75rem
 	}
 }

 .main-container {
 	border: 1px solid $lightgrey;
 }

 .nav-top-wrapper {
 	border-top: 1px solid $lightgrey;
 	border-left: 1px solid $lightgrey;
 	border-right: 1px solid $lightgrey;
 	padding: 0;
 	margin: 2rem 0 0 0;
 	@include media-query(portable) {
 		margin: 1.5rem 0 0 0;
 	}
 	@include media-query(palm) {
 		margin: 1rem 0 0 0;
 	}
 }

.nav-effect {
	margin: 0 0 6px;
	@include media-query(palm) {
		height: 0;
		margin: 0;
		overflow: hidden;
		-webkit-transition: height 500ms;
		  -o-transition: height 500ms;
		  transition: height 500ms;
	}
}

.nav-effect.active {
	@include media-query(palm) {
		height: inherit;
	}
}

.nav-effect a {
	margin: 0 10px;
	padding: 12px 14px 0;
	width: 16%;
	display: inline-block;
	font-family: 'Amatic SC', cursive;
	font-size: 1.7em;
	text-decoration: none;
	white-space: nowrap;
	text-align: center;
	@include media-query (portable) {
		margin: 0 0 $base-spacing-unit 0;
	}
	@include media-query (palm) {
		font-size: 1.5em;
		line-height: 1.5em;
		margin: 6px 28px 6px 0;
		padding: 2px 0;
		display: block;
		width: inherit;
		background: $brand-color;
		color: white;
	}
}

.nav-effect a:hover {
	-webkit-box-shadow: inset 0 6px 0 $brand-color;
	-moz-box-shadow: inset 0 6px 0 $brand-color;
	box-shadow: inset 0 6px 0 $brand-color;
	-webkit-transition: box-shadow 0.3s, height 0.3s;
	-moz-transition: box-shadow 0.3s, height 0.3s;
	transition: box-shadow 0.3s, height 0.3s;
}

.nav-effect .active {
	-webkit-box-shadow: inset 0 6px 0 $brand-color;
	-moz-box-shadow: inset 0 6px 0 $brand-color;
	box-shadow: inset 0 6px 0 $brand-color;
}

.nav-effect a::before,
.nav-effect a::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	content: '';
	opacity: 0.2;
	-webkit-transition: opacity 0.3s, height 0.3s;
	-moz-transition: opacity 0.3s, height 0.3s;
	transition: opacity 0.3s, height 0.3s;
}

.nav-effect a::after {
	top: 100%;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.nav-effect a span:first-child {
	z-index: 2;
	display: block;
	font-weight: 300;
	margin: 10px 0 -10px 0;
	@include media-query (palm) {
		margin: inherit;
	}
}

.nav-effect a span:last-child {
	z-index: 1;
	display: block;
	padding: 8px 0 0 0;
	text-shadow: none;
	text-transform: none;
	font-size: 0.45em;
	font-family: $base-font-family;
	color: $darkblue;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

.nav-effect a:hover::before,
.nav-effect a:focus::before {
	height: 6px;
}



.nav-effect a:hover span:last-child,
.nav-effect a:focus span:last-child {
	opacity: 1;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
}


/* 
Effect for story element on mouse hover
the HTML markup looks like this:

<figure class="story-element" data-effeckt-type="story-element">
	
Background image goes below.
  <img src="..." alt="">

      <span class="visible-content text--center">            
        Content that is visible when loaded.              
      </span>

  <figcaption>
    <div class="story-element-wrap">
      
      <span class="hidden-content">
        Content that is visible after mouse hover
      </span>
      
    </div>
  </figcaption>
</figure>
*/

.story-element {
  position: relative;
  float: left;
  overflow: hidden;
  background:#ccc;
  cursor: help;
  margin-top: $base-spacing-unit;
}

.story-element:nth-child(2n) {
  margin-right: 0;
}

.story-element img {
  -webkit-transition: 500ms 300ms;
  -o-transition: 500ms 300ms;
  transition: 500ms 300ms;
}

.story-element figcaption {
  position: absolute;
  margin: auto;
  top:0; right:0; left:0; bottom:0;
  height: 75%;
  width: 80%;
  background: rgba(112,108,135, 0.8);
  -webkit-transition: 750ms 300ms;
  -o-transition: 750ms 300ms;
  transition: 750ms 300ms;  
  @include media-query(portable) {
  	position: static;
	background: rgba(112,108,135, 1);
	width: 100%;
	-webkit-transition: none;
	-o-transition: none;
	transition: none; 
	height: inherit;
  }
}

.story-element-orange {
	color: $darkgrey;
	.rule {
		color:lighten($orange, 10%);
	}
}

.story-element-purple {
	.rule {
		color:darken($purple,15%);
	}
}

.story-element-blue {
	.rule {
		color:lighten($blue,5%);
	}
}

.story-element-pink {
	.rule {
		color:lighten($pink,5%);
	}
}

.story-element-orange figcaption {
	background: rgba(227,183,45, 0.8);
	@include media-query(portable) {
		background: rgba(227,183,45, 1);
	}
	
}

.story-element-blue figcaption {
	background: rgba(139,171,201, 0.8);
	@include media-query(portable) {
		background: rgba(139,171,201, 1);
	}
}

.story-element-pink figcaption {
	background: rgba(203,70,70, 0.8);
	@include media-query(portable) {
		background: rgba(203,70,70, 1);
	}
}

.story-element[data-effeckt-type~="story-element"] figcaption {
  top: 0;
  left: 0;
  text-align: center;
  padding: 20px;
  -webkit-transform: translateX(120%);
  -ms-transform: translateX(120%);
  -o-transform: translateX(120%);
  transform: translateX(120%);
  @include media-query(portable) {
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
  }
}

.story-element[data-effeckt-type~="story-element"].story-element-reversed figcaption {
	-webkit-transform: translateX(-120%);
  -ms-transform: translateX(-120%);
  -o-transform: translateX(-120%);
  transform: translateX(-120%);
  @include media-query(portable) {
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
  }
}


.story-element[data-effeckt-type~="story-element"] img {
  display: block;
  position: relative;
}


.story-element[data-effeckt-type~="story-element"]:hover figcaption,
.story-element[data-effeckt-type~="story-element"]:active figcaption {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.hidden-content {
  max-width:100px;
}

.story-element h1,
.story-element h2,
.story-element h3,
.story-element h4,
.story-element h5,
.story-element h6 {
	margin: 0;
}

.visible-content {
  position: absolute;
  top: 0;
  left:0;
  padding: 20px;
  margin: 20px 0 20px 20px;
  background: rgba(112,108,135, 0.8);
  -webkit-transition: 500ms 300ms;
  -o-transition: 500ms 300ms;
  transition: 500ms 300ms;
  @include media-query(palm) {
	padding: 10px;
  	margin: 4px;
  	h4 {
  		font-size: 16px;
  	}
  	small {
  		font-size: 12px;
  	}
  }

}

.story-element-orange .visible-content {
	background: rgba(227,183,45, 0.8);
	@include media-query(portable) {
		background: rgba(227,183,45, 1);
	}
}

.story-element-blue .visible-content {
	background: rgba(139,171,201, 0.8);
	@include media-query(portable) {
		background: rgba(139,171,201, 1);
	}
}

.story-element-pink .visible-content {
	background: rgba(203,70,70, 0.8);
	@include media-query(portable) {
		background: rgba(203,70,70, 1);
	}
}

.story-element-reversed .visible-content {
	right: 0;
	margin: 20px 20px 20px 0;
	left: auto;
}

.story-element[data-effeckt-type~="story-element"]:hover .visible-content,
.story-element[data-effeckt-type~="story-element"]:active .visible-content {
	-webkit-transform: translateX(-120%);
  -ms-transform: translateX(-120%);
  -o-transform: translateX(-120%);
  transform: translateX(-120%);
  @include media-query(portable) {
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
  }
}

.story-element[data-effeckt-type~="story-element"].story-element-reversed:hover .visible-content,
.story-element[data-effeckt-type~="story-element"].story-element-reversed:active .visible-content {
	-webkit-transform: translateX(120%);
  -ms-transform: translateX(120%);
  -o-transform: translateX(120%);
  transform: translateX(120%);
  @include media-query(portable) {
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
  }

}

/* 
Animation effect that slides elements in as you scroll down the page
the HTML markup looks like this:

<div class="slide-in">
	<div class="slide slide-from-left">
	...
	</div>
</div>
*/
.slide-in {
  width: 100%;
  clear: both;
  padding: 0;
  position: relative;
  min-height: 16em;
  @include media-query (portable) {
  	min-height: 25em;
  }
}

.slide {
  width: 100%;
  position: absolute;
  opacity: 1;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.slide-from-left {
	left: 0;
}
.slide-from-right {
	left:0;
}
.offscreen {
	opacity: 0;
}
.slide-from-left.offscreen {
	left: -50%;
	@include media-query (portable) {
		left: 0;
	}
}
.slide-from-right.offscreen {
	left: 50%;
	@include media-query (portable) {
		left: 0;
	}
}

.margin-quarter {
	margin-left: 25%;
	@include media-query (portable) {
		margin-left: 0;
	}
}

.btn--primary {
	background: $brand-color;
	color: white;
	-webkit-transition: background 200ms;
	-moz-transition: background 200ms;
	-ms-transition: background 200ms;
	-o-transition: background 200ms;
	transition: background 200ms;
}

.btn--primary:hover {
	background: lighten($brand-color, 10%);
}

footer {
	background: lighten($brand-color, 25%);
	padding: 18px 0;
	text-align: center;
}
