/* 
======= TYPOGRAPHY STYLES =======
Tightly tuned typography, adjusted for maximum readability across all devices and platforms.
*/ 

body {
    color: $darkgrey;
    @include media-query(portable) {
        font-size: $base-font-size - 2px;
        line-height: $base-line-height - 4px;
    }
    @include media-query(palm) {
        font-size: $base-font-size - 3px;
        line-height: $base-line-height - 6px;
    }
}

h1 {
    @include media-query(portable) {
        font-size: $h1-size - 4px;
    }
    @include media-query(palm) {
        font-size: $h1-size - 8px;
    }
}
h2 {
    @include media-query(portable) {
        font-size: $h2-size - 4px;
    }
    @include media-query(palm) {
        font-size: $h2-size - 8px;
    }
}
h3 {
    line-height: 38px;
}

h4, h5, h6 {
    font-family: $base-bold-family;
    font-weight: 700;
}

.subheading {
    font-weight: normal;
    font-style: italic;
    font-family: $base-italic-family;
}

p {
 	font-weight: 400;
 }

article p:first-child:first-letter { 
    float: left; 
    color: $brand-color; 
    font-size: 98px; 
    line-height: 75px; 
    padding-top: 4px; 
    padding-right: 8px; 
    padding-left: 3px;
    @include media-query(palm) {
        font-size: 72px; 
        line-height: 60px; 
    }
}

 em, blockquote, dt {
 	font-family: $base-italic-family;
    font-weight: normal;
    font-style: italic;
 }

 strong {
 	font-family: $base-bold-family;
 	font-weight: 700;
 }
 ol, ul, dl {
    @include media-query(palm) {
        margin-left: 2rem;
    }
 }

 a {
 	color: $brand-color;
    text-decoration: underline;
    -webkit-transition: color 200ms;
    -moz-transition: color 200ms;
    -ms-transition: color 200ms;
    -o-transition: color 200ms;
    transition: color 200ms;
 }

 a:hover {
    color: lighten($brand-color, 20%);
 }

 ul.clean {
    list-style: none;
    margin: 0;
 }

 .rule {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
 }

 figure {
  margin:0;
  color:white;
}

blockquote {
    text-indent: -0.2em;
    margin-top: 2.4em;
    padding: 0 2em 0 4.2em;
    margin-bottom: 8px;
    position: relative;
    @include media-query(portable) {
        padding: 0 2em 0 2em;
    }
}

blockquote:before {
    content: "“";
    color: $brand-color; 
    font-size: 80px; 
    position: absolute; 
    top: -0.35em; 
    left: 0.35em;
    @include media-query(portable) {
        font-size: 48px;
        top: 5%; 
    left: 0;
    }
}

cite {
    font-size: 0.8em;
    margin-top: 0;
    line-height: 1;
    font-style: normal;
}

blockquote ~ cite {
    display: block;
    text-align: right;
    clear: both;
    margin-bottom: 2.4em;
}

/* COPY COLOR CHANGING HELPER CLASSES */

.brand-color {
    color: $brand-color;
}

.purple {
    color: $purple;
}

.blue {
    color: $blue;
}
.orange {
    color: $orange;
}

.form-large-type {
    font-size: 1.1em;
}

.form-large-type select, .form-large-type input {
    display: inline-block;
    -webkit-appearance: none;
    padding: 0 4px;
    margin-bottom: 6px;
    border-radius: 0;
    border: 2px solid $brand-color;
}